*{
    margin:0;
    padding:0;
}

body{
    font-family: "Source Sans Pro";

    color:#1564bf;
}

ul,li{
    list-style-type:none;
}

.clear{
    clear:both;
}

.select_header{
    margin-top:10px;
    width:98%;
}
.select_header_1    {

    padding-bottom: 10px;
    border-bottom: solid 5px #9bc32a;
    font-size: 25px;
    font-weight: bold;
    margin-left: 15px;

}

.select_header_2{
    color:grey;
    font-size:15px;
    font-weight: normal;
    float:right;
    margin-top:10px;
    margin-right:10px;

}





.result_image{
    float: left;
    margin: 10px;
    object-fit: cover;

}
.result_item{
    padding-left:30px;
}

 .result_sub_text .result_title{
align-items: center;

}

.result_title{
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: left;

    font-size:20px;
    font-weight: bold;
    color:blue;
}

.button_1{

    margin-right:auto;
    background:#1AAB8A;
    color:#fff;
    border:none;

    height:30px;

    padding:0 2em;
    cursor:pointer;
    border-radius: 5px;


    font-weight: bold;
  }

  .button_2{

    margin-left:10px;
    background:#1AAB8A;
    color:#fff;
    border:none;

    height:30px;

    padding:0 2em;
    cursor:pointer;
    border-radius: 5px;


    font-weight: bold;
  }
.result_info{
    padding-top:20px;
}
.result_sub_text{

    text-align: left;
    font-size:12px;
    font-weight: bold;
    width: 1000px;
    padding: 20px;
    color:grey;
}



.line{

    border-top: solid 3px #cccccc;
    width:90%;
    margin-left: 50px;
}



  